
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
            color: gray;
        }

        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 12px;
                    }

        .right {
            right: 16px;
            
        }
        .left-auto {
            left: -20px;
        }
         .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

            .centered img {
                width: 150px;
                border-radius: 50%;
            }
    </style>
</head>
<body>

    <div class="split centered">
        <div class="centered">
            <img src="~/image/Benzema.jpg" alt="Avatar man">
            <h2>Benzema</h2>

        </div>
    </div>


    <div class="split left-auto">
        <div class="centered">
            <img src="~/image/n2.jpg" alt="Avatar woman">
            <h2>Cristiano Ronaldo</h2>
            
        </div>
    </div>
    <br />
    <br />
    <div class="split right" style="right:40px">
        <div class="centered">
            <img src="~/image/bale1.jpg" alt="Avatar woman">
            <h2>Gareth Bale</h2>

        </div>
    </div>
    <br />
    <div class="split  "  >
        <div class="centered">
            <img src="~/image/toni.jpg" alt="Avatar woman">
            <h2>Toni Kroos</h2>

        </div>
    </div>

    

    <br />
    <br />
    <br />


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>


</html>
