
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}

<hr />
<hr />
<hr />
<h2>Real Madrid FC Fans</h2>
<img class="  img-fluid img-thumbnail " src="~/image/Real-Madrid04.jpg" width="1200">


