
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ViewPage.cshtml";
}
<hr/>
<hr />
<hr />
<h2>Real Madrid Players</h2>
<img class="  img-fluid img-thumbnail " src="~/image/111.jpg " width="1200">
